
/* OGOLNE */

body {
    margin: 0px;
    padding: 0px;
}

header, .section-one, footer {
    background-color: #1F2937;
    margin: 0px;
    padding: 0px;
}

.sections {
    display: flex;
    flex-direction: column;
    flex: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
}

.Logo {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    display: inline-block;
}

/* SECTION ONE */

.section-one {
    display: flex;
    justify-content: space-around;
    padding: 100px 0px;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0;
    padding: 0;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.button-one {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: solid 1px #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    width: fit-content;
}

.placeholder {
    color: #F9FAF8;
    background-color: rgba(255, 255, 255, 60%);
    padding: 100px;
    margin: 0;
}

.section-two {
}

.main-info {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}
